body {
  background-color: #f4f4f4;
}

.container {
  max-width: 600px;
}

ul {
  margin-top: 20px;
}

.footer {
  text-align: left;
  color: gray;
}

.delete-btn {
  visibility: hidden;
  transition: visibility 0.2s ease-in-out;
}


.list-group-item:hover .delete-btn {
  visibility: visible;
}
